.container{
    grid-template-columns: 3fr 2fr 4fr 1fr 1fr;
    grid-auto-rows: minmax(100px, aou);
    background-color:azure;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header header header header header"
    ". main main main sidebar"
    "footer footer footer footer footer";

}

header{
    background-color: rgb(36, 141, 175);
    grid-area: header;
}
main{
    background-color:white;
    grid-area: main;
    font-size: 8em;
    font-weight: bolder;
    border: 2px dotted black;

}
aside{
    background-color:white;
    grid-area: sidebar;
}

footer{
    background-color: red;
    grid-area: footer;
}
section{
    background-color: blueviolet;

}

img {
    width: 200px; 
    max-width: 100%;
    display: block;
    margin: auto;

}
libax{
    width: 100px;
    height: auto; 
    max-width: 100%;
    display: block;
}